1. First activate the env cding to venv/Scripts
   and then activate.bat. Or create a venv first if you
   don't have one and then activate:
   
   py -m venv env
   where env is the folder name & when called with -m module-name, the given
   module is located on the Python module path and executed as a script.


2. Next type the following command in the directory where
   requirements.txt is located
   pip install -r requirements.txt